In [1]:
# Se importan las bibliotecas necesarias
import numpy as np
import pandas as pd
import datetime

import warnings
warnings.filterwarnings('ignore')

import plotly.plotly as py
import plotly.graph_objs as go

#nwH7euTNo27AATjelWEi

In [2]:
df = pd.read_csv('/home/pradel/Downloads/datos_pau.csv', parse_dates=['fecha'], error_bad_lines=False)

In [3]:
df.head()

,fecha,O3_pronóstico,PM10_pronóstico,O3_y_frcst_12,PM10mean_y_frcst_12,TMP_x,TMP_y,O3_y,O3,O3_x,RH,TMP,PM10,PM10_y,PM10_x,PM10mean_y
0,2019-06-25 18:00:00,55.478539,29.757679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-06-25 19:00:00,54.002895,28.990410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-06-25 20:00:00,45.882462,27.691198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-06-25 21:00:00,32.782875,28.720148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-25 22:00:00,26.724987,33.199833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df = df.sort_values(['fecha'], ascending=[0])

In [50]:
rango=len(df.index)

In [51]:
df['indice']=list(range(rango))

In [52]:
df.set_index('indice', inplace=True)

In [53]:
# Fecha adelantada 24 horas
def asignar_fecha(row, columna):
    nueva_fecha = row[columna] + datetime.timedelta(hours=24)
    return nueva_fecha

In [54]:
# Conversión de unidades de microgramo/metro_cúbico a ppb(partículas por billón)
def convertir_ppb(row, columna):
    ppb = row[columna]/1.96
    return ppb

In [55]:
# Cálculo del índice de calidad del aire para el PM10 (usando datos en microgramo/metro_cúbico)
def indice_PM10(row, columna):
    if row[columna]>=0 and row[columna]<=40:
        indice=1.2500*(row[columna])
        return round(indice)
    if row[columna]>=41 and row[columna]<=75:
        indice=(1.4412*(row[columna]-41))+51
        return round(indice)
    if row[columna]>=76 and row[columna]<=214:
        indice=(0.3551*(row[columna]-76))+101
        return round(indice)
    if row[columna]>=215 and row[columna]<=354:
        indice=(0.3525*(row[columna]-215))+151
        return round(indice)
    if row[columna]>=355 and row[columna]<=424:
        indice=(1.4348*(row[columna]-355))+201
        return round(indice)
    if row[columna]>=425 and row[columna]<=504:
        indice=(1.2532*(row[columna]-425)+301)
        return round(indice)
    if row[columna]>=505 and row[columna]<=604:
        indice=(1.0000*(row[columna]-505)+401)
        return round(indice)

In [56]:
# Cálculo del índice de calidad del aire para el O3 (usando datos en ppb)
def indice_O3(row, columna):
    if row[columna]>=0 and row[columna]<=70:
        indice=0.7143*(row[columna])
        return round(indice)
    if row[columna]>=71 and row[columna]<=95:
        indice=(2.0417*(row[columna]-71))+51
        return round(indice)
    if row[columna]>=96 and row[columna]<=154:
        indice=(2.4138*(row[columna]-96))+101
        return round(indice)
    if row[columna]>=155 and row[columna]<=204:
        indice=(1.0000*(row[columna]-155))+151
        return round(indice)
    if row[columna]>=205 and row[columna]<=404:
        indice=(0.4975*(row[columna]-205))+201
        return round(indice)
    if row[columna]>=405 and row[columna]<=504:
        indice=(1.000*(row[columna]-405)+301)
        return round(indice)
    if row[columna]>=505 and row[columna]<=604:
        indice=(1.0000*(row[columna]-505)+401)
        return round(indice)

In [57]:
df['fecha_24'] = df.apply(lambda row: asignar_fecha(row, 'fecha'), axis=1)

In [58]:
df['PM10_ppb'] = df.apply(lambda row: convertir_ppb(row, 'PM10'), axis=1)

In [59]:
df['PM10_pronostico_ppb'] = df.apply(lambda row: convertir_ppb(row, 'PM10_pronóstico'), axis=1)

In [60]:
df['indice_PM10'] = df.apply(lambda row: indice_PM10(row, 'PM10mean_y'), axis=1)

In [61]:
df['indice_O3'] = df.apply(lambda row: indice_O3(row, 'O3_y'), axis=1)

In [62]:
df['indice_pronostico_PM10'] = df.apply(lambda row: indice_PM10(row, 'PM10_pronóstico'), axis=1)

In [63]:
df['indice_pronostico_O3'] = df.apply(lambda row: indice_O3(row, 'O3_pronóstico'), axis=1)

In [64]:
df = df[['fecha', 'O3_y','PM10mean_y', 'TMP', 'TMP_x', 'TMP_y']]

In [65]:
df.head()

                     fecha  O3_y  PM10mean_y  TMP  TMP_x  TMP_y
indice
0      2019-06-26 17:00:00   NaN         NaN  NaN    NaN    NaN
1      2019-06-26 16:00:00   NaN         NaN  NaN    NaN    NaN
2      2019-06-26 15:00:00   NaN         NaN  NaN    NaN    NaN
3      2019-06-26 14:00:00   NaN         NaN  NaN    NaN    NaN
4      2019-06-26 13:00:00   NaN         NaN  NaN    NaN    NaN