In [1]:
# Se importan las bibliotecas necesarias
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

import plotly.plotly as py
import plotly.graph_objs as go

#nwH7euTNo27AATjelWEi

In [2]:
df = pd.read_csv('/home/pradel/Downloads/datos_pau.csv')

In [3]:
df = df.sort_values(['fecha'], ascending=[0])

In [7]:
df.head()

,fecha,O3_pronóstico,PM10_pronóstico,O3_y_frcst_12,PM10mean_y_frcst_12,TMP_x,TMP_y,O3_y,O3,O3_x,RH,TMP,PM10,PM10_y,PM10_x,PM10mean_y
23,2019-06-26 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2019-06-26 16:00:00,36.763630,36.389713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2019-06-26 15:00:00,30.643513,42.184845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2019-06-26 14:00:00,26.053171,45.683369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2019-06-26 13:00:00,18.761599,46.536407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dfi = df.copy()

In [14]:
dfi = dfi[['fecha', 'O3_pronóstico', 'PM10_pronóstico', 'O3', 'PM10']]

In [15]:
dfi.head()

                  fecha  O3_pronóstico  PM10_pronóstico  O3  PM10
23  2019-06-26 17:00:00            NaN              NaN NaN   NaN
22  2019-06-26 16:00:00      36.763630        36.389713 NaN   NaN
21  2019-06-26 15:00:00      30.643513        42.184845 NaN   NaN
20  2019-06-26 14:00:00      26.053171        45.683369 NaN   NaN
19  2019-06-26 13:00:00      18.761599        46.536407 NaN   NaN

In [45]:
# Hacer funcion que calcule el índice
# Hacer listas con el índice calculado
# Hacer columnas nuevas y llenar columnas con las listas
# Hacer front que muestre el índice