In [22]:
# Se importan las bibliotecas necesarias
import numpy as np
import pandas as pd
import datetime

import warnings
warnings.filterwarnings('ignore')

import plotly.plotly as py
import plotly.graph_objs as go

#nwH7euTNo27AATjelWEi

In [23]:
df = pd.read_csv('/home/pradel/Downloads/datos_pau.csv', parse_dates=['fecha'], error_bad_lines=False)

In [24]:
df = df.sort_values(['fecha'], ascending=[0])

In [25]:
rango=len(df.index)

In [26]:
df['indice']=list(range(rango))

In [27]:
df.set_index('indice', inplace=True)

In [28]:
df.head()

,fecha,O3_pronóstico,PM10_pronóstico,O3_y_frcst_12,PM10mean_y_frcst_12,TMP_x,TMP_y,O3_y,O3,O3_x,RH,TMP,PM10,PM10_y,PM10_x,PM10mean_y
indice,,,,,,,,,,,,,,,,
0,2019-06-26 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-06-26 16:00:00,36.763630,36.389713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-06-26 15:00:00,30.643513,42.184845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-06-26 14:00:00,26.053171,45.683369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-26 13:00:00,18.761599,46.536407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
dfi = df.copy()

In [30]:
# Fecha adelantada 24 horas
def asignar_fecha(row, columna):
    nueva_fecha = row[columna] + datetime.timedelta(hours=24)
    return nueva_fecha

In [31]:
# Conversión de unidades de microgramo/metro_cúbico a ppb(partículas por billón)
def convertir_ppb(row, columna):
    ppb = row[columna]/1.96
    return ppb

In [32]:
# Cálculo del índice de calidad del aire para el PM10 (usando datos en microgramo/metro_cúbico)
def indice_PM10(row, columna):
    if row[columna]>=0 and row[columna]<=40:
        indice=1.2500*(row[columna])
        return round(indice)
    if row[columna]>=41 and row[columna]<=75:
        indice=(1.4412*(row[columna]-41))+51
        return round(indice)
    if row[columna]>=76 and row[columna]<=214:
        indice=(0.3551*(row[columna]-76))+101
        return round(indice)
    if row[columna]>=215 and row[columna]<=354:
        indice=(0.3525*(row[columna]-215))+151
        return round(indice)
    if row[columna]>=355 and row[columna]<=424:
        indice=(1.4348*(row[columna]-355))+201
        return round(indice)
    if row[columna]>=425 and row[columna]<=504:
        indice=(1.2532*(row[columna]-425)+301)
        return round(indice)
    if row[columna]>=505 and row[columna]<=604:
        indice=(1.0000*(row[columna]-505)+401)
        return round(indice)

In [33]:
# Cálculo del índice de calidad del aire para el O3 (usando datos en ppb)
def indice_O3(row, columna):
    if row[columna]>=0 and row[columna]<=70:
        indice=0.7143*(row[columna])
        return round(indice)
    if row[columna]>=71 and row[columna]<=95:
        indice=(2.0417*(row[columna]-71))+51
        return round(indice)
    if row[columna]>=96 and row[columna]<=154:
        indice=(2.4138*(row[columna]-96))+101
        return round(indice)
    if row[columna]>=155 and row[columna]<=204:
        indice=(1.0000*(row[columna]-155))+151
        return round(indice)
    if row[columna]>=205 and row[columna]<=404:
        indice=(0.4975*(row[columna]-205))+201
        return round(indice)
    if row[columna]>=405 and row[columna]<=504:
        indice=(1.000*(row[columna]-405)+301)
        return round(indice)
    if row[columna]>=505 and row[columna]<=604:
        indice=(1.0000*(row[columna]-505)+401)
        return round(indice)

In [34]:
dfi['fecha_24'] = dfi.apply(lambda row: asignar_fecha(row, 'fecha'), axis=1)

In [35]:
dfi['PM10_ppb'] = dfi.apply(lambda row: convertir_ppb(row, 'PM10'), axis=1)

In [36]:
dfi['PM10_pronostico_ppb'] = dfi.apply(lambda row: convertir_ppb(row, 'PM10_pronóstico'), axis=1)

In [37]:
dfi['indice_PM10'] = dfi.apply(lambda row: indice_PM10(row, 'PM10'), axis=1)

In [38]:
dfi['indice_O3'] = dfi.apply(lambda row: indice_O3(row, 'O3'), axis=1)

In [39]:
dfi['indice_pronostico_PM10'] = dfi.apply(lambda row: indice_PM10(row, 'PM10_pronóstico'), axis=1)

In [40]:
dfi['indice_pronostico_O3'] = dfi.apply(lambda row: indice_O3(row, 'O3_pronóstico'), axis=1)

In [41]:
dfi = dfi[['fecha', 'fecha_24', 'O3_pronóstico', 'PM10_pronóstico', 'O3', 'PM10', 'PM10_pronostico_ppb',
          'PM10_ppb', 'indice_O3', 'indice_PM10', 'indice_pronostico_O3', 'indice_pronostico_PM10']]

In [42]:
dfi.head(50)

,fecha,fecha_24,O3_pronóstico,PM10_pronóstico,O3,PM10,PM10_pronostico_ppb,PM10_ppb,indice_O3,indice_PM10,indice_pronostico_O3,indice_pronostico_PM10
indice,,,,,,,,,,,,
0,2019-06-26 17:00:00,2019-06-27 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-06-26 16:00:00,2019-06-27 16:00:00,36.763630,36.389713,NaN,NaN,18.566180,NaN,NaN,NaN,26.0,45.0
2,2019-06-26 15:00:00,2019-06-27 15:00:00,30.643513,42.184845,NaN,NaN,21.522880,NaN,NaN,NaN,22.0,53.0
3,2019-06-26 14:00:00,2019-06-27 14:00:00,26.053171,45.683369,NaN,NaN,23.307841,NaN,NaN,NaN,19.0,58.0
4,2019-06-26 13:00:00,2019-06-27 13:00:00,18.761599,46.536407,NaN,NaN,23.743065,NaN,NaN,NaN,13.0,59.0
5,2019-06-26 12:00:00,2019-06-27 12:00:00,22.994383,47.151150,NaN,NaN,24.056709,NaN,NaN,NaN,16.0,60.0
6,2019-06-26 11:00:00,2019-06-27 11:00:00,24.384691,40.032932,NaN,NaN,20.424965,NaN,NaN,NaN,17.0,NaN
7,2019-06-26 10:00:00,2019-06-27 10:00:00,18.091173,37.808548,NaN,NaN,19.290075,NaN,NaN,NaN,13.0,47.0
8,2019-06-26 09:00:00,2019-06-27 09:00:00,25.783487,36.671276,NaN,NaN,18.709835,NaN,NaN,NaN,18.0,46.0
9,2019-06-26 08:00:00,2019-06-27 08:00:00,19.043180,36.339512,NaN,NaN,18.540567,NaN,NaN,NaN,14.0,45.0
10,2019-06-26 07:00:00,2019-06-27 07:00:00,20.415453,35.542046,NaN,NaN,18.133697,NaN,NaN,NaN,15.0,44.0
11,2019-06-26 06:00:00,2019-06-27 06:00:00,27.092503,35.776817,NaN,NaN,18.253478,NaN,NaN,NaN,19.0,45.0
12,2019-06-26 05:00:00,2019-06-27 05:00:00,22.227320,34.073551,NaN,NaN,17.384465,NaN,NaN,NaN,16.0,43.0
13,2019-06-26 04:00:00,2019-06-27 04:00:00,17.285730,34.368130,NaN,NaN,17.534760,NaN,NaN,NaN,12.0,43.0
14,2019-06-26 03:00:00,2019-06-27 03:00:00,15.094358,34.474567,NaN,NaN,17.589065,NaN,NaN,NaN,11.0,43.0
15,2019-06-26 02:00:00,2019-06-27 02:00:00,17.432779,34.693169,NaN,NaN,17.700596,NaN,NaN,NaN,12.0,43.0
16,2019-06-26 01:00:00,2019-06-27 01:00:00,20.098333,34.164509,NaN,NaN,17.430872,NaN,NaN,NaN,14.0,43.0
17,2019-06-26 00:00:00,2019-06-27 00:00:00,22.641314,33.941963,NaN,NaN,17.317328,NaN,NaN,NaN,16.0,42.0
18,2019-06-25 23:00:00,2019-06-26 23:00:00,20.739466,33.464302,NaN,NaN,17.073624,NaN,NaN,NaN,15.0,42.0
19,2019-06-25 22:00:00,2019-06-26 22:00:00,26.724987,33.199833,NaN,NaN,16.938690,NaN,NaN,NaN,19.0,41.0
20,2019-06-25 21:00:00,2019-06-26 21:00:00,32.782875,28.720148,NaN,NaN,14.653137,NaN,NaN,NaN,23.0,36.0
21,2019-06-25 20:00:00,2019-06-26 20:00:00,45.882462,27.691198,NaN,NaN,14.128162,NaN,NaN,NaN,33.0,35.0
22,2019-06-25 19:00:00,2019-06-26 19:00:00,54.002895,28.990410,NaN,NaN,14.791025,NaN,NaN,NaN,39.0,36.0
23,2019-06-25 18:00:00,2019-06-26 18:00:00,55.478539,29.757679,NaN,NaN,15.182489,NaN,NaN,NaN,40.0,37.0
24,2019-06-25 17:00:00,2019-06-26 17:00:00,NaN,NaN,24.0,3.0,NaN,1.530612,17.0,4.0,NaN,NaN
25,2019-06-25 16:00:00,2019-06-26 16:00:00,NaN,NaN,19.0,14.0,NaN,7.142857,14.0,18.0,NaN,NaN
26,2019-06-25 15:00:00,2019-06-26 15:00:00,NaN,NaN,24.0,5.0,NaN,2.551020,17.0,6.0,NaN,NaN
27,2019-06-25 14:00:00,2019-06-26 14:00:00,NaN,NaN,27.0,2.0,NaN,1.020408,19.0,2.0,NaN,NaN
28,2019-06-25 13:00:00,2019-06-26 13:00:00,NaN,NaN,15.0,4.0,NaN,2.040816,11.0,5.0,NaN,NaN
29,2019-06-25 12:00:00,2019-06-26 12:00:00,NaN,NaN,20.0,3.0,NaN,1.530612,14.0,4.0,NaN,NaN
30,2019-06-25 11:00:00,2019-06-26 11:00:00,NaN,NaN,14.0,14.0,NaN,7.142857,10.0,18.0,NaN,NaN
31,2019-06-25 10:00:00,2019-06-26 10:00:00,NaN,NaN,3.0,0.0,NaN,0.000000,2.0,0.0,NaN,NaN
32,2019-06-25 09:00:00,2019-06-26 09:00:00,NaN,NaN,5.0,6.0,NaN,3.061224,4.0,8.0,NaN,NaN
33,2019-06-25 08:00:00,2019-06-26 08:00:00,NaN,NaN,2.0,4.0,NaN,2.040816,1.0,5.0,NaN,NaN
34,2019-06-25 07:00:00,2019-06-26 07:00:00,NaN,NaN,1.0,1.0,NaN,0.510204,1.0,1.0,NaN,NaN
35,2019-06-25 06:00:00,2019-06-26 06:00:00,NaN,NaN,1.0,3.0,NaN,1.530612,1.0,4.0,NaN,NaN
36,2019-06-25 05:00:00,2019-06-26 05:00:00,NaN,NaN,1.0,1.0,NaN,0.510204,1.0,1.0,NaN,NaN
37,2019-06-25 04:00:00,2019-06-26 04:00:00,NaN,NaN,1.0,2.0,NaN,1.020408,1.0,2.0,NaN,NaN
38,2019-06-25 03:00:00,2019-06-26 03:00:00,NaN,NaN,1.0,3.0,NaN,1.530612,1.0,4.0,NaN,NaN
39,2019-06-25 02:00:00,2019-06-26 02:00:00,NaN,NaN,1.0,2.0,NaN,1.020408,1.0,2.0,NaN,NaN
40,2019-06-25 01:00:00,2019-06-26 01:00:00,NaN,NaN,1.0,4.0,NaN,2.040816,1.0,5.0,NaN,NaN
41,2019-06-25 00:00:00,2019-06-26 00:00:00,NaN,NaN,1.0,9.0,NaN,4.591837,1.0,11.0,NaN,NaN
42,2019-06-24 23:00:00,2019-06-25 23:00:00,NaN,NaN,1.0,2.0,NaN,1.020408,1.0,2.0,NaN,NaN
43,2019-06-24 22:00:00,2019-06-25 22:00:00,NaN,NaN,2.0,4.0,NaN,2.040816,1.0,5.0,NaN,NaN
44,2019-06-24 21:00:00,2019-06-25 21:00:00,NaN,NaN,3.0,5.0,NaN,2.551020,2.0,6.0,NaN,NaN
45,2019-06-24 20:00:00,2019-06-25 20:00:00,NaN,NaN,12.0,4.0,NaN,2.040816,9.0,5.0,NaN,NaN
46,2019-06-24 19:00:00,2019-06-25 19:00:00,NaN,NaN,10.0,2.0,NaN,1.020408,7.0,2.0,NaN,NaN
47,2019-06-24 18:00:00,2019-06-25 18:00:00,NaN,NaN,16.0,7.0,NaN,3.571429,11.0,9.0,NaN,NaN
48,2019-06-24 17:00:00,2019-06-25 17:00:00,NaN,NaN,20.0,9.0,NaN,4.591837,14.0,11.0,NaN,NaN
49,2019-06-24 16:00:00,2019-06-25 16:00:00,NaN,NaN,20.0,3.0,NaN,1.530612,14.0,4.0,NaN,NaN