In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/home/pradel/Downloads/ejemplo_ouput_1 (1).csv")

In [3]:
df.head()

,Unnamed: 0,TMP_x,O3_y,O3_y.1,O3,O3_x,O3_y.2,O3_y.3,RH_2_x,TMP_2_y,...,pred_4,pred_5,pred_6,pred_7,pred_8,pred_9,pred_10,pred_11,pred_12,fecha
0,0,12.825,7.0,7.0,3.0,4.00,7.0,7.0,53.75,14.5,...,36.928272,31.131050,37.886716,37.167246,38.242269,35.247853,41.004512,44.170743,38.184564,2015-01-02 00:00:00
1,1,11.025,2.0,2.0,0.0,1.25,2.0,2.0,64.50,13.8,...,28.056245,27.688170,29.084734,26.439021,31.293495,32.409477,31.918281,32.553553,28.828029,2015-01-02 01:00:00
2,2,10.175,3.0,3.0,0.0,1.50,3.0,3.0,69.25,13.0,...,85.479364,89.274294,86.930619,87.144780,85.031468,79.796946,76.903552,73.642023,70.711067,2015-01-02 02:00:00
3,3,9.475,2.0,2.0,0.0,1.50,2.0,2.0,70.25,12.7,...,22.699007,24.759514,24.646204,24.653932,26.424078,24.318165,27.344929,25.482899,28.562245,2015-01-02 03:00:00
4,4,8.725,2.0,2.0,0.0,1.50,2.0,2.0,74.00,11.6,...,45.843989,46.902662,47.309771,44.894606,44.682508,40.910419,39.257718,34.096453,33.794598,2015-01-02 04:00:00

In [4]:
df.columns.tolist()

['Unnamed: 0',
 'TMP_x',
 'O3_y',
 'O3_y.1',
 'O3',
 'O3_x',
 'O3_y.2',
 'O3_y.3',
 'RH_2_x',
 'TMP_2_y',
 'O3forecast_12',
 'O3forecast_11',
 'O3forecast_10',
 'O3forecast_9',
 'O3forecast_8',
 'O3forecast_7',
 'O3forecast_6',
 'O3forecast_5',
 'O3forecast_4',
 'O3forecast_3',
 'O3forecast_2',
 'O3forecast_1',
 'pred_1',
 'pred_2',
 'pred_3',
 'pred_4',
 'pred_5',
 'pred_6',
 'pred_7',
 'pred_8',
 'pred_9',
 'pred_10',
 'pred_11',
 'pred_12',
 'fecha']

In [5]:
df_cont = pd.melt(df, id_vars = ['fecha'], value_vars = ['TMP_x',
 'O3_y',
 'O3_y.1',
 'O3',
 'O3_x',
 'O3_y.2',
 'O3_y.3',
 'RH_2_x',
 'TMP_2_y',])

In [6]:
df_cont.columns = ['fecha', 'contaminante', 'medicion']

In [7]:
df_cont.head()

                 fecha contaminante  medicion
0  2015-01-02 00:00:00        TMP_x    12.825
1  2015-01-02 01:00:00        TMP_x    11.025
2  2015-01-02 02:00:00        TMP_x    10.175
3  2015-01-02 03:00:00        TMP_x     9.475
4  2015-01-02 04:00:00        TMP_x     8.725

In [8]:
df_cont = df_cont.sort_values(by = 'fecha')
df_cont = df_cont.reset_index(drop = True)

In [9]:
df_cont.to_csv("/home/pradel/Desktop/Forecast_CDMX_pollution/limpieza/df_cont.csv", sep='\t')

In [10]:
#####

In [11]:
df_O3_forecast = pd.melt(df, id_vars=['fecha'], value_vars=[
 'O3forecast_12',
 'O3forecast_11',
 'O3forecast_10',
 'O3forecast_9',
 'O3forecast_8',
 'O3forecast_7',
 'O3forecast_6',
 'O3forecast_5',
 'O3forecast_4',
 'O3forecast_3',
 'O3forecast_2',
 'O3forecast_1'])

In [12]:
df_O3_forecast.columns = ['fecha', 'O3_prediccion', 'medicion']

In [13]:
df_O3_forecast.head()

                 fecha  O3_prediccion  medicion
0  2015-01-02 00:00:00  O3forecast_12      10.0
1  2015-01-02 01:00:00  O3forecast_12       7.0
2  2015-01-02 02:00:00  O3forecast_12       5.0
3  2015-01-02 03:00:00  O3forecast_12       5.0
4  2015-01-02 04:00:00  O3forecast_12       2.0

In [14]:
df_O3_forecast = df_O3_forecast.sort_values(by = 'fecha')
df_O3_forecast = df_O3_forecast.reset_index(drop = True)

In [15]:
df_O3_forecast.to_csv("/home/pradel/Desktop/Forecast_CDMX_pollution/limpieza/df_o3_forecast.csv", sep='\t')

In [16]:
#######

In [17]:
df_forecast = pd.melt(df, id_vars=['fecha'], value_vars=[
 'pred_1',
 'pred_2',
 'pred_3',
 'pred_4',
 'pred_5',
 'pred_6',
 'pred_7',
 'pred_8',
 'pred_9',
 'pred_10',
 'pred_11',
 'pred_12'])

In [18]:
df_forecast.columns = ['fecha', 'prediccion', 'medicion']

In [19]:
df_forecast.head()

                 fecha prediccion   medicion
0  2015-01-02 00:00:00     pred_1  35.557107
1  2015-01-02 01:00:00     pred_1  28.590309
2  2015-01-02 02:00:00     pred_1  91.845131
3  2015-01-02 03:00:00     pred_1  23.724043
4  2015-01-02 04:00:00     pred_1  51.654143

In [20]:
df_forecast = df_forecast.sort_values(by = 'fecha')
df_forecast = df_forecast.reset_index(drop = True)

In [21]:
df_forecast.to_csv("/home/pradel/Desktop/Forecast_CDMX_pollution/limpieza/df_forecast.csv", sep='\t')