# Correlación entre contaminantes

Para un análisis exploratorio de los datos, se eligieron 3 estaciones de las 69 disponibles en el catálogo de Aire-Cdmx. Las estaciones en cuestión se encuentran en puntos estratégicos de la ciudad, como el norte (MGH - Miguel Hidaldo, centro (HGM - Hospital General de México) y sur (TLA - Tláhuac) de la misma.

Se calcula la correlacion entre las variables (contaminantes y meteorológicas) de los datos medidos de estas tres estaciones para el año 2018.

El objetivo es encontrar que variables tienen mejor correlación entr4e sí para poder aplicar esto a un modelo predictivo.

In [1]:
# Se importan bibliotecas necesarias

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Se importa el archivo csv con los datos usando pandas

data_18 = pd.read_csv("merge_cont_2018.csv")

In [5]:
data_18.head()

,Unnamed: 0,date,month,hour,id_station,CO,NO,NO2,NOX,O3,PM2.5,PMCO,SO2,RH,TMP,WSP,WDR,PM10
0,0,2018-01-01 01:00:00,1,1,AJM,0.8,2.0,25.0,26.0,31.0,53.0,26.0,6.0,53.0,11.6,1.8,258.0,79.0
1,1,2018-01-01 01:00:00,1,1,HGM,0.8,1.0,33.0,34.0,12.0,67.0,32.0,9.0,45.0,14.0,2.2,275.0,99.0
2,2,2018-01-01 01:00:00,1,1,MGH,0.5,1.0,21.0,23.0,24.0,72.0,22.0,9.0,47.0,13.2,2.5,333.0,94.0
3,3,2018-01-01 01:00:00,1,1,SAG,0.6,2.0,21.0,23.0,25.0,80.0,45.0,8.0,36.0,15.2,2.2,10.0,125.0
4,4,2018-01-01 01:00:00,1,1,SFE,0.6,1.0,26.0,28.0,26.0,56.0,22.0,7.0,57.0,11.2,1.3,254.0,79.0

In [14]:
estaciones = ['MGH', 'HGM', 'TLA']
data_18 = data_18[(data_18.id_station.isin(estaciones))]

In [16]:
data_18.head(20)

,Unnamed: 0,date,month,hour,id_station,CO,NO,NO2,NOX,O3,PM2.5,PMCO,SO2,RH,TMP,WSP,WDR,PM10
1,1,2018-01-01 01:00:00,1,1,HGM,0.8,1.0,33.0,34.0,12.0,67.0,32.0,9.0,45.0,14.0,2.2,275.0,99.0
2,2,2018-01-01 01:00:00,1,1,MGH,0.5,1.0,21.0,23.0,24.0,72.0,22.0,9.0,47.0,13.2,2.5,333.0,94.0
5,5,2018-01-01 01:00:00,1,1,TLA,0.4,2.0,28.0,30.0,16.0,70.0,36.0,9.0,47.0,12.8,3.3,323.0,106.0
8,8,2018-01-01 02:00:00,1,2,HGM,0.6,1.0,28.0,29.0,16.0,68.0,28.0,10.0,46.0,13.2,2.7,264.0,96.0
9,9,2018-01-01 02:00:00,1,2,MGH,0.3,1.0,15.0,16.0,29.0,70.0,21.0,8.0,49.0,12.6,2.5,335.0,91.0
12,12,2018-01-01 02:00:00,1,2,TLA,0.4,2.0,32.0,34.0,14.0,63.0,27.0,11.0,47.0,12.0,3.0,327.0,90.0
15,15,2018-01-01 03:00:00,1,3,HGM,0.6,1.0,29.0,29.0,16.0,64.0,21.0,11.0,45.0,12.6,2.9,266.0,85.0
16,16,2018-01-01 03:00:00,1,3,MGH,0.3,1.0,16.0,17.0,27.0,52.0,15.0,8.0,49.0,12.0,2.8,333.0,67.0
19,19,2018-01-01 03:00:00,1,3,TLA,0.6,5.0,39.0,43.0,7.0,80.0,46.0,19.0,50.0,11.5,3.0,331.0,127.0
22,22,2018-01-01 04:00:00,1,4,HGM,0.6,14.0,35.0,50.0,10.0,73.0,18.0,22.0,47.0,12.1,2.3,275.0,92.0
23,23,2018-01-01 04:00:00,1,4,MGH,0.4,1.0,18.0,19.0,24.0,61.0,13.0,14.0,48.0,12.0,1.9,332.0,74.0
26,26,2018-01-01 04:00:00,1,4,TLA,0.6,6.0,38.0,44.0,4.0,105.0,29.0,53.0,55.0,10.6,2.4,320.0,134.0
29,29,2018-01-01 05:00:00,1,5,HGM,0.7,12.0,39.0,50.0,5.0,84.0,18.0,58.0,53.0,11.4,2.2,298.0,102.0
30,30,2018-01-01 05:00:00,1,5,MGH,0.4,2.0,21.0,22.0,20.0,69.0,11.0,21.0,50.0,11.3,1.4,340.0,80.0
33,33,2018-01-01 05:00:00,1,5,TLA,0.4,7.0,37.0,43.0,3.0,83.0,21.0,115.0,61.0,9.5,2.9,320.0,105.0
36,36,2018-01-01 06:00:00,1,6,HGM,0.5,16.0,39.0,55.0,2.0,78.0,17.0,110.0,60.0,10.4,2.4,286.0,95.0
37,37,2018-01-01 06:00:00,1,6,MGH,0.4,3.0,27.0,30.0,10.0,55.0,9.0,44.0,58.0,10.1,1.7,340.0,64.0
40,40,2018-01-01 06:00:00,1,6,TLA,0.5,10.0,34.0,44.0,2.0,43.0,12.0,93.0,69.0,8.4,3.2,307.0,56.0
43,43,2018-01-01 07:00:00,1,7,HGM,0.6,27.0,36.0,63.0,7.0,47.0,8.0,75.0,66.0,9.6,2.0,272.0,55.0
44,44,2018-01-01 07:00:00,1,7,MGH,0.4,3.0,20.0,23.0,14.0,53.0,9.0,23.0,59.0,9.6,1.3,319.0,62.0